<!DOCTYPE html>
<html>
<head>
    <title>
        News Check
    </title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}"
</head>
<body>
    <center>
        <div class="div">
            <h1>News Check</h1>
            <form action="{{ url_for('predict')}}" method ="POST">
                <input type="text" class="txt" name="news" placeholder="Enter News URL here" required="required"/>
                <br/>
                <br/>
                <button type="submit" id="btn" class="btn">CHECK</button>
            </form>
            <br/>
            <br/>
            {{news_url}}
            <br/>
            <br/>
            {{accuracy}}
            <br/>
            <br/>
            <h1>{{prediction_text}}</h1>
        </div>
    </center>
</body>
</html>